{
  "presets": ["@babel/preset-env", "@babel/preset-react", "stage-1"],
  "plugins": [
    [
      "transform-modules",
      // "@babel/plugin-proposal-class-properties",
      {
        "element-ui": {
          "transform": "element-react/dist/npm/es5/src/${member}",
          "kebabCase": true
        }
      }
    ]
  ]
}
