.detailTags {
  margin: 5px 0px;
}

.detailSpan {
  font-size  : 18px;
  font-weight: 700;
}

.bottom1 {
  width          : 100%;
  margin         : 10px 0px;
  padding-top    : 5px;
  font-size      : 14px;
  color          : #c9c9cc;
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  border-top     : dashed thin #ddd;
}